<nav class="sidebar d-flex flex-column p-3 border-end" style="width: 220px; height: 100%;">
    <a href="/home" class="logo">EquipRental</a>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/home" class="nav-link active">
                홈
            </a>
        </li>
        <li>
            <a href="/equipment" class="nav-link active">
                장비 조회
            </a>
        </li>
        <li>
            <a href="/rental" class="nav-link active">
                대여 로그
            </a>
        </li>
        <li>
            <a href="/board" class="nav-link active">
                발품 신청
            </a>
        </li>
        <li>
            <a href="/statistics" class="nav-link active">
                통계
            </a>
        </li>
        <li>
            <a href="/member" class="nav-link active">
                사용자 관리
            </a>
        </li>
    </ul>
    <div class="logout-wrapper">
        <button class="logout-btn" onclick="logout()">로그아웃</button>
    </div>
</nav>
