.filter-card {
    font-weight: 500;
    margin-bottom: 0.5rem;
    display: block;
}

#equipment-list {
    padding-top: 40px;
    margin-top: 20px;
}

.item-list-btn {
    cursor: pointer;
    border-top: 3px solid #ced4da;
    transition: background 0.2s;
}

.item-list-btn:hover {
    background-color: #dee2e6 !important;
}